.content-banner {
  background-color: var(--secondary-background-color);
  width: 100%;
  display: flex;
  justify-content: center;
}

.item-box-2 {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0 75px;
}

.sections-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-banner-header,
.content-banner-text {
  font-family: var(--font-family-h);
  color: var(--secondary-text-color);
}

.content-banner-header {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 50px;
}

.icon {
  height: 100px;
}

.content-banner-text {
  line-height: 1.5;
  font-size: 1.2rem;
  font-weight: 500;
  width: 80%;
  margin: 20px auto 0;
  text-align: center;
}
