.cta {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.cta-text {
  position: absolute;
  bottom: 15px;
  left: 20px;
  width: 100%;
  font-family: var(--font-family-h);
  color: var(--secondary-text-color);
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 0;
}
