.content-container {
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
}

.content {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
}

.content-main,
.content-section p {
  font-family: var(--font-family-p);
  line-height: 1.5;
  color: var(--secondary-text-color);
}

.content-main {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.1rem;
}

.sections-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.content-group {
  display: flex;
  flex-direction: column;
  padding: 25px 50px;
}

.content-section {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.content-section p {
  margin: 0;
}

.icon-wrapper {
  margin-right: 15px;
}
